:root {
  --zona1: #00c4cc;
  --zona2: #20ce88;
  --zona3: #ff8c62;
  --zona4: #ffb74d;
  --zona1: #00c4cc;
}

.cabo {
  background-color: #00c4cc !important;
  border-radius: 10px;
}
.puerto {
  background-color: var(--zona2);
  border-radius: 10px;
}
.lucas {
  background-color: var(--zona3);
  border-radius: 10px;
}
.pacific {
  background-color: var(--zona4);
  border-radius: 10px;
}

.card-footer {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* colores de botones y bordes de las cards */
.textos-cards {
  color: #414141;
}
.textos-cards img {
  width: 1rem;
}
.boton {
  width: 100%;
}
.zona1 {
  color: #fff;
  border-style: solid;
  border-color: var(--zona1);
}
.zona2 {
  color: #fff;
  border-style: solid;
  border-color: var(--zona2);
}
.zona3 {
  color: #fff;
  border-style: solid;
  border-color: var(--zona3);
}
.zona4 {
  color: #fff;
  border-style: solid;
  border-color: var(--zona4);
}

.btn-zona1 {
  background-color: var(--zona1);
  color: #fff;
}
.btn-zona2 {
  background-color: var(--zona2);
  color: #fff;
}
.btn-zona3 {
  background-color: var(--zona3);
  color: #fff;
}
.btn-zona4 {
  background-color: var(--zona4);
  color: #fff;
}
/* termina olores de botones y bordes de las cards */

/* SLIDER */
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 3px 5px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}


/* medias querys */
@media  (max-width: 771px)  {
  .fondo{
    background-image: none !important;
  }
}